body {
  font-family: "Dosis", sans-serif;
  background-color: gainsboro;
  background-image: url("../img/blue-sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#updated-date {
  list-style: none;
  margin-bottom: 40px;
  padding-left: 25px;
}
.other-info {
  padding-left: 5px;
  margin-top: 15px;
  list-style: none;
}

.container {
  max-width: 670px;
  margin: 15px auto;
}

.weather-forecast {
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  margin: auto;
}

.forecast-container {
  border: 1px solid black;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  );
  margin: -40px auto;
}

#city {
  padding-left: 25px;
  margin-top: -20px;
  padding-left: 25px;
  margin-bottom: 0px;
}

h3 {
  padding-top: 20px;
  padding-left: 15px;
}

li::first-letter {
  text-transform: capitalize;
}
.open-source {
  position: relative;
  bottom: -20px;
  font-size: 12px;
  color: rgba(229, 229, 229, 0.602);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

small a {
  text-decoration: none;
}

small a:hover {
  color: pink;
}

.todays-temp {
  font-size: 80px;
  position: relative;
  top: -40px;
  right: -235px;
}

.units {
  line-height: 2;
  position: relative;
  top: -90px;
  right: -235px;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.search-form {
  padding: 10px;
  padding-left: 30px;
}

#search-city-form {
  opacity: 0.85;
}

.temp-icon img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  position: relative;
  left: 85px;
  bottom: -50px;
}

#temperature-icon {
  margin-top: -30px;
}

.weekdays-blocks:hover {
  background-color: rgba(172, 169, 169, 0.2);
  border-radius: 10px;
}

.weekdays-blocks {
  text-align: center;
  padding: 0px;
}

.container-weekdays {
  margin: 10px auto;
  padding-left: 0px;
}

#weekdays-forecast {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  justify-content: space-around;
}

.weekly {
  justify-content: space-evenly;
  padding-right: 0px;
}

.current-location {
  width: 45px;
}

.active {
  color: white;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weekdays {
  opacity: 0.95;
}
.min-temp {
  opacity: 0.5;
}

#current-button {
  opacity: 1;
}
